body {
    background-color: #ddeba9;
    color: darkgreen;
    font-size: 12px;
    font-family: 'Times New Roman', sans-serif;
}

div {
    margin: 10px;
}

h1 {
    color:darkgreen;
    font-size: 40px;
    margin-left: 10px;
}

h2 {
    color:green;
    margin-left: 10px;
}

h3 {
    font-size: 25px;
    margin-left: 10px;
}

li {
    color:maroon;
}

a {
    color:lightBlue;
}

p {
    color: maroon;
    margin-left: 10px;
}

img {
    margin: 10px;
    margin-left: 20px;
}

.image {
    width:50%;
    height:50%;
}

.nav-bar {
    background-color: #129689;
    overflow: hidden;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #315954;
}

#name-title {
    background-color: #a7c728;
}

#bio {
    font-size: 12px;
    border-radius: 3px;
    border-style: dotted;
    background-color: #c7e64c;
}

#fun-facts {

}

#pictures {
    background-color: #769109;
    color: #faffe6
}
